@* @model IEnumerable<> *@
 
<h2>Список запросов:</h2>
<table class="table">
    @* @foreach (var user in Model) *@
    @* { *@
    @*     <tr> *@
    @*         <td>@user.Email</td> *@
    @*         <td> *@
    @*              *@
    @*         </td> *@
    @*     </tr> *@
    @* } *@
</table>