.idea/

/TestAuth/

/TestApi/bin/
/TestApi/obj/

/WorkScheduleManagement/bin/
/WorkScheduleManagement/obj/

/WorkScheduleManagement.DAL/bin/
/WorkScheduleManagement.DAL/obj/

/WorkScheduleManagement.Data/bin/
/WorkScheduleManagement.Data/obj/

/WorkScheduleManagement.Application/bin/
/WorkScheduleManagement.Application/obj/