@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
}
@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
 
    <form method="post" asp-controller="Authorization" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <p><a asp-controller="Authorization" asp-action="Login">Вход</a></p>
    <p><a asp-controller="Authorization" asp-action="Register">Регистрация</a></p>
}