@model WorkScheduleManagement.Application.Models.Users.LoginUserModel
 
<h2>Вход в приложение</h2>
<form method="post" asp-controller="Authorization" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div class="form-group">
        <input type="submit" value="Войти" class="btn btn-outline-success"/>
    </div>
</form>